body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: darkblue;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

